{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New page</h1>
    <h4>{{message}}</h4>

    <form action="{% url 'new'%}" method="post">
        {% csrf_token %}
        <label>Title :</label>
        <input type="text" name="title" id="title" placeholder="Enter Your Title">
        <br>
        <label>Content: </label>
        <br>
        <textarea name="content" id="content"></textarea>
        <br>
        <input type="submit" name="submit" class="btn btn-primary">
    </form>

{% endblock %}